<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.READ_MEDIA_VIDEO" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.CoffeeAroundUCompose"
        tools:targetApi="31">

        <!--
             TODO: Before you run your application, you need a Google Maps API key.

             To get one, follow the directions here:

                https://developers.google.com/maps/documentation/android-sdk/get-api-key

             Once you have your API key (it starts with "AIza"), define a new property in your
             project's local.properties file (e.g. MAPS_API_KEY=Aiza...), and replace the
             "YOUR_API_KEY" string in this file with "${MAPS_API_KEY}".
        -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyAHHCdb9oK9xY9VOaFp8KuzgQIPS9djqm4" />

        <activity
            android:name=".ui.maps.MapsActivityViews"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.DayNight.DarkActionBar"
            android:label="@string/title_activity_maps_views" />
        <activity
            android:name=".ui.maps.MapsActivity"
            android:exported="false"
            android:label="@string/title_activity_maps"
            android:theme="@style/Theme.CoffeeAroundUCompose" />
        <activity
            android:name=".ui.detail.DetailCafeActivity"
            android:exported="false"
            android:label="@string/title_activity_detail_cafe"
            android:theme="@style/Theme.CoffeeAroundUCompose" />
        <activity
            android:name=".ui.detail.DetailViewActivity"
            android:exported="false"
            android:label="@string/title_activity_detail_view"
            android:theme="@style/Theme.CoffeeAroundUCompose" />
        <activity
            android:name=".ui.transaksi.TransaksiActivity"
            android:exported="false"
            android:label="@string/title_activity_transaksi"
            android:theme="@style/Theme.CoffeeAroundUCompose" />
        <activity
            android:name=".ui.home.HomeActivity"
            android:exported="false"
            android:label="@string/title_activity_home"
            android:theme="@style/Theme.CoffeeAroundUCompose" />
        <activity
            android:name=".ui.register.RegisterActivity"
            android:exported="false"
            android:label="@string/title_activity_main"
            android:theme="@style/Theme.CoffeeAroundUCompose" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.CoffeeAroundUCompose">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>
    </application>

</manifest>